.blogs {
  background: var(--white); }
  .blogs .slide {
    text-align: center;
    padding: 2rem; }
    .blogs .slide img {
      height: 25rem;
      width: 100%;
      object-fit: conver;
      border-radius: .5rem; }
    .blogs .slide .icons {
      background: var(--black);
      border-radius: .5rem;
      padding: 1rem;
      position: relative;
      top: -2rem;
      display: inline-block; }
      .blogs .slide .icons a {
        font-size: 1.4rem;
        color: var(--white);
        margin: 0 1rem; }
        .blogs .slide .icons a:hover {
          color: var(--green); }
        .blogs .slide .icons a i {
          padding-right: .5rem;
          color: var(--green); }
    .blogs .slide h3 {
      font-size: 2rem;
      color: var(--black); }
    .blogs .slide p {
      font-size: 1.4rem;
      padding: 1rem 0;
      line-height: 2;
      color: var(--black); }