.category {
    background: var(--white);
}

.category .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.category .box-container .box {
    text-align: center;
    padding: 2rem; 
}

.category .box-container .box img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.category .box-container .box h3 {
    font-size: 2rem;
    color: var(--green);
}

.category .box-container .box p {
    font-size: 1.4rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 2;
}